#about {
  display: table;
}

#about .row {
  display: table-row;
}

#about .col-xs-3, #about .col-xs-9.well  {
  display: table-cell;
  max-height: 462px;
}

#about .col-xs-9.well {
  margin: 0px 1vw 20px 1vw;
  width: 70%;
}

#about .col-xs-3 {
  overflow: scroll;
}