#projects h5 {
  font-weight: bold;
}

#projects .row .col-xs-9, #projects .row .col-xs-3 {
  max-height: 535px;
}

#projecs .row .col-xs-9 .row .col-xs-3 {
  display: initial;
}

#menu-btn {
  display: none;
  float: right;
}

.dropdown-menu {
  min-width: 140px;
  max-width: 160px;
  text-overflow: ellipsis;
}

.dropdown-menu li {
  margin: 0;
  text-align: center;
}

.dropdown-menu .dropdown-item:hover {
  cursor: pointer;
  background-color: #B3E4FB;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.open .dropdown-menu {
  max-height: 95px;
  opacity: 1;
}

.open>.dropdown-menu {
  left: 50%;
  right: auto;
  transform: translate(-50%, 0);
}

#menu-btn .btn {
  background-color: #03a9f3;
  color: #FEFEFE;
}

#projects .row .col-xs-9 .row .col-xs-3 .well {
  background-color: #B3E4FB;
  padding: 5px;
}

#projects .row .col-xs-9 .row .col-xs-3 .well:hover {
  cursor: pointer;
  background-color: #03a9f3;
  -webkit-transition: background-color 350ms linear;
  -ms-transition: background-color 350ms linear;
  transition: background-color 350ms linear;
}

#projects .row .col-xs-9 .row .col-xs-3 .well.active {
  background-color: #03a9f3;
}

#projects .row .col-xs-9 .row .col-xs-3 .well.active p, #projects .row .col-xs-9 .row .col-xs-3 .well.active h5 {
  color: #EFEFEF;
}

#repos {
  margin: 0px 0px 0px 2%;
  width: 23%;
  overflow: scroll;
}
